// Place all the styles related to the States controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.state-details {
    border: 1px solid red;
    padding: 5px;
    margin: 10px;
    color: green;
}